.card{
    height: 280px;
}

.info{
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: 500;
    font-size: 14px;
}

.userImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.postImage{
    width: 100%;
    height: 200px;
    margin-top: 5px;
    object-fit: cover;
}

.interaction{
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.cardIcon{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.cardIconMessage{
    width: 30px;
    height: 21px;
    cursor: pointer;
    margin-right: 10px;
}